body {
  background-color: #f6f6f6;
}

hr {
  border-style: dotted none none;
  height: 3px;
  width: 3%;
  border-color: #1D5C63;
  border-width: 5px;
}

h1{
  color: #1D5C63;
}

h3{
  color: #1D5C63;
}
